/* src/features/editor/styles/editor.css */

.canvas-viewport {
  counter-reset: h1-counter; /* Reinicia el contador al inicio del documento */
}

/* Seleccionamos el tag h1 que genera tu TitleBlock */
h1.editable-h1::before {
  counter-increment: h1-counter;      /* Suma 1 cada vez que aparece */
  content: counter(h1-counter) ". "; /* Muestra "1. ", "2. ", etc. */
}
